<button type="button" class="btn btn-outline-dark btn-lg btn-block text-left position-fixed" title="Back" (click)="backClicked()">
    <span class="glyphicon-chevron-left"></span>
</button>
<div class="container-lg mt-5 pt-5">
    <div *ngIf="loading">
        Loading...
      </div>
    <div class="row" *ngIf="countries">
        <div class="col-sm-6 col-md-4 mt-3 mb-3" *ngFor="let country of countries; index as i">
            <div class="media p-3">
                <div class="media-body">
                    <h6 class="font-weight-light text-muted m-3">{{i + 1}}</h6>
                    <h5 class="mt-5 mb-5 ml-3">{{country.name}}</h5>
                    <ul class="list-group list-group-flush text-muted">
                        <li class="list-group-item">
                            <span *ngFor="let callingCode of country.callingCodes; index as i">{{callingCode}} </span>
                        </li>
                        <li class="list-group-item">{{country.capital?country.capital:'No Capital'}}</li>
                        <li class="list-group-item">
                            <ul class="list-unstyled">
                                <li *ngFor="let currency of country.currencies; index as i" currencies>
                                    {{currency.code}} | {{currency.name}} | {{currency.symbol}}
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <span *ngFor="let language of country.languages; index as i">{{language.name}} </span></li>
                    </ul>
                </div>
                <img src={{country.flag}} alt={{country.iso639_1}}>
            </div>
        </div>
    </div>
</div>